.paraAbout {
  margin-top: 20px;
  padding-left: 150px;
  color: rgb(75, 75, 77);
  font-size: 16px;
  text-align: justify;
}
.paraAbouth {
  margin-top: 20px;
  color: rgb(43, 43, 44);
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}
.h2At {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 28px;
}
.imgfluidAbout {
  width: 600px;
  height: 500px;
}
.mainContact {
  margin-bottom: 100px;
  padding: 50px;
  padding-bottom: 20px;
}
.iconabt {
  margin-top: 10px;
  margin-right: 20px;
}
.Cardslider {
  width: 340px;
  text-align: center;
  background-color: transparent;
  border: none;
}
.para {
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: rgb(75, 75, 77);
  font-size: 16px;
  text-align: justify;
}
.mapbottom {
  margin-top: 20px;
}
.side {
  margin-left: 280px;
}
.Cardsider {
  width: 300px;
  height: min-content;
  margin: 30px;
  padding-bottom: 0px;
  border-left-color: rgb(61, 200, 233);
  border-left-width: 5px;
  border-left-style: solid;
}
.img_cover {
  margin-top: 10px;
  margin-left: 0px !important;
  font-size: 100px;
}
.slider {
  padding-top: 400px;
  padding-bottom: 200px;
  background-image: linear-gradient(white, rgb(232, 247, 245));
}
.p {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
}
.userimg {
  width: 50%;
  height: 50%;
  margin-left: 90px;
  border-radius: 50% !important;
}
.pb10 {
  padding-bottom: 12px;
}
.pcollapse {
  background-color: rgb(255, 209, 209);
}
.parac {
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: rgb(75, 75, 77);
  font-size: 16px;
  text-align: center;
}
.umi {
  width: 80vw;
  margin-top: 50px;
}
.test {
  display: flex;
  justify-content: center;
}
.crdContact {
  display: flex;
  margin-top: 20px;
}
.CardTop {
  width: 240px;
  margin: 30px;
  text-align: center;
  border-top-color: #ee8c68;
  border-top-width: 3px;
  border-top-style: solid;
}
.cardabout {
  width: 240px;
  margin: 30px;
  text-align: center;
  border: none;
}
.top {
  margin-top: 60px;
}
.Cardsider {
  width: 300px;
  height: min-content;
  margin: 30px;
  padding-bottom: 0px;
  border-left-color: rgb(61, 200, 233);
  border-left-width: 5px;
  border-left-style: solid;
}
.strip {
  width: 99vw;
  height: 130px;
  margin-bottom: 100px;
  padding: 30px;
  background-color: #ee8c68;
  background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
}
@media (max-width: 768px) {
  .mainContact {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px;
    padding-bottom: 0px;
  }
  .imgfluidAbout {
    display: block;
    width: 80vw;
    height: max-content;
  }
  .crdContact {
    display: flex;
    flex-flow: column;
    width: min-content;
    margin-left: 16px;
  }
  .Cardsider {
    width: 250px;
    height: min-content;
    margin: 30px;
  }

  .text {
    font-size: 20px;
  }
  .strip {
    height: max-content;
  }
  .paraAbout {
    margin-top: 20px;
    padding-left: 30px;
    color: rgb(75, 75, 77);
    font-size: 16px;
    text-align: center;
  }
}
@media (width: 1024px) {
  .mainContact {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px;
    padding-bottom: 0px;
  }
  .imgfluidAbout {
    display: block;
    width: 80vw;
    height: max-content;
  }
  .md {
    display: block !important;
    flex: 0 0 91.66666667% !important;
    max-width: 91.66666667% !important;
  }
  .strip {
    height: 165px;
  }
}
