.mainContact {
  margin-bottom: 100px;
  padding: 50px;
  padding-bottom: 20px;
}
.FormContact {
  margin-left: 50px;
  padding-top: 50px;
}
.imgfluidContact {
  align-self: center;
  width: 50%;
}
.img_cover {
  margin-top: 10px;
  font-size: 100px;
}

.img_cover_f {
  width: 50%;
  margin-top: 10px;
  margin-left: 60px;
}
.iconsubmit {
  margin-right: 5px;
}
.btnsubmit {
  width: 200px;
  color: rgb(111, 196, 245);
  border-color: rgb(111, 196, 245);
}
.h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 28px;
}
.btnsubmit:hover {
  color: rgb(39, 45, 48);
  background-color: rgb(85, 182, 238);
}
.main {
  margin-left: 60px;
}
.crdContact {
  display: flex;
  margin-top: 20px;
}
.CardTop {
  width: 240px;
  margin: 30px;
  text-align: center;
  border-top-color: rgb(61, 200, 233);
  border-top-width: 3px;
  border-top-style: solid;
}
.topa {
  margin-top: 60px;
  margin-left: 180px;
}
.CardTopa {
  width: 240px;
  margin: 30px;
  text-align: center;
  border: none;
}
.Cardsider {
  width: 300px;
  height: min-content;
  margin: 30px;
  padding-bottom: 0px;
  border-left-color: rgb(61, 200, 233);
  border-left-width: 5px;
  border-left-style: solid;
}
.Map {
  width: 98.7vw;
  height: 360px;
  margin: 0px;
  padding: 0px;
}
.iconinc {
  margin-top: 30px;
  font-size: 30px;
}
.strip {
  width: 99vw;
  height: 130px;
  margin-bottom: 100px;
  padding: 30px;
  background-color: #ee8c68;
  background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
}
.mapbottom {
  margin-top: 20px;
}
.text {
  color: white;
  font-size: 40px;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.btnright {
  margin-top: 20px;
}
.p {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
}
.side {
  margin-left: 280px;
}
.Map {
  width: 98.7vw;
  height: 360px;
  margin: 0px;
  padding: 0px;
}
@media (max-width: 767px) {
  .mainContact {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px;
    padding-bottom: 0px;
  }
  .imgfluidContact {
    display: block;
    width: 80vw;
  }
  .FormContact {
    margin-left: 20px;
    padding-top: 50px;
  }
  .crdContact {
    display: flex;
    flex-flow: column;
    width: min-content;
    margin-left: 16px;
  }
  .Cardsider {
    width: 250px;
    height: min-content;
    margin: 30px;
  }
  .Map {
    width: 99vw;
    height: 360px;
  }

  .text {
    font-size: 20px;
  }
  .row {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 45px;
  }
  .p {
    padding: 50px;
  }
  .topa {
    margin-left: 0px;
  }
  .strip {
    height: max-content;
  }
  .Map {
    width: 99vw;
    height: 360px;
  }
}

@media (width: 1024px) {
  .side {
    margin-left: 90px;
  }
  .FormContact {
    margin-left: 177px;
  }
  .imgfluidContact {
    margin: auto;
  }
}
