.mainContact {
  margin-bottom: 100px;
  padding: 50px;
  padding-bottom: 20px;
}
.container {
  position: relative;
  margin: 0 auto;
}
.sAbout {
  position: absolute;
  bottom: 152px;
  width: 900px;
  margin-left: 120px;
}
.container img {
  vertical-align: middle;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #f1f1f1;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}
h1 {
  color: #f1f1f1;
}
.card_feature {
  border-radius: 20px;
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.crdContact {
  display: flex;
  margin-top: 20px;
}
.crdContactH {
  display: flex;
  flex-flow: wrap;
  margin-top: 20px;
  margin-left: 20px;
}
.img_arc {
  width: 50%;
  margin-top: 20px;
  margin-left: 450px;
}
.CardTopa {
  width: 240px;
  margin: 30px;
  text-align: center;
  border: none;
}
.img_cover {
  width: 50%;
  margin-top: 10px;
  margin-left: 60px;
}
.img_cover_f {
  width: 20%;
  margin-top: 10px;
  margin-left: 60px;
}
.strip {
  width: 99vw;
  height: 130px;
  margin-bottom: 100px;
  padding: 30px;
  background-color: #ee8c68;
  background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
}
.imghome {
  max-height: 500px;
}
.paraAbout {
  margin-top: 20px;
  padding-left: 150px;
  color: rgb(75, 75, 77);
  font-size: 16px;
  text-align: justify;
}
.para {
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: rgb(75, 75, 77);
  font-size: 16px;
  text-align: justify;
}
.paraAbouth {
  margin-top: 20px;
  color: rgb(43, 43, 44);
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}
.h2At {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 28px;
}
.imgfluidAbouta {
  width: 500px;
  height: 400px;
}
.Cardsider {
  width: 300px;
  height: min-content;
  margin: 30px;
  padding-bottom: 0px;
  border-left-color: rgb(61, 200, 233);
  border-left-width: 5px;
  border-left-style: solid;
}
.mapbottom {
  margin-top: 20px;
}
.p {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
}
.side {
  margin-left: 280px;
}
.imgSpace {
  margin: 1px;
}
.mainContact {
  margin-bottom: 100px;
  padding: 50px;
  padding-bottom: 20px;
}
.top {
  margin-top: 60px;
}
.space {
  line-height: 2rem;
}
.imgbrand {
  margin: 15px;
  font-size: 100px;
}
.crdview {
  width: min-content;
  height: min-content;
  border: none;
}
@media (max-width: 768px) {
  .mainContact {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px;
    padding-bottom: 0px;
  }
  .crdContact {
    display: flex;
    flex-flow: column;
    width: min-content;
    margin-left: 16px;
  }
  .img_arc {
    width: 80vw;
    margin-top: 20px;
    margin-left: 25px;
  }
  .imgfluidAbouta {
    display: block;
    width: 80vw;
    height: max-content;
  }
  .paraAbout {
    margin-top: 20px;
    color: rgb(75, 75, 77);
    font-size: 16px;
    text-align: center;
  }
  .sAbout {
    position: absolute;
    bottom: 0px;
    width: auto;
    margin-left: 0px;
  }
  .container img {
    height: 500px;
  }
  .strip {
    height: max-content;
  }
  .Cardsider {
    width: 250px;
    height: min-content;
    margin: 30px;
  }
  .p {
    padding: 50px;
  }

  .crdContactH {
    display: flex;
    flex-flow: wrap;
    margin-left: 40px;
  }
  .imgSpace {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 1px;
  }
}
@media (width: 1024px) {
  .mainContact {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px;
    padding-bottom: 0px;
  }
  .imgfluidAbouta {
    display: block;
    width: 80vw;
    height: max-content;
  }
  .md {
    display: block !important;
    flex: 0 0 91.66666667% !important;
    max-width: 91.66666667% !important;
  }
}
