.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50vw;
  height: max-content;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
a {
  color: #eb6b9d;
}
.btn {
  width: 200px;
  background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
  border: none !important;
  border-radius: 20px;
}
.btn:hover {
  color: black !important;
  background-image: linear-gradient(90deg, #ee8c68 0%, #eb6b9d 74%) !important;
  border: none !important;
}
.main {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 70px;
}
.formL {
  margin-top: 50px;
}
.icon {
  margin-right: 5px;
}
.imgfluid {
  width: 50%;
  height: 50%;
  margin-top: 50px;
}
.h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 28px;
}
@media (max-width: 768px) {
  .Card {
    flex-flow: column;
    width: 90vw;
    padding: 30px;
    border-radius: 20px;
  }
  .imgfluid {
    display: block;
    width: auto;
    height: auto;
  }
  img {
    vertical-align: text-top !important ;
  }
}
