
header{
	text-align: center;
}




footer{
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
}


.footerdistributed{
	
	background-color:  rgb(41, 40, 40);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 60px 60px 80px;
}

.footerdistributed .footerleft,
.footerdistributed .footercenter,
.footerdistributed .footerright{
	display: inline-block;
	vertical-align: top;
}

.footerdistributed .footerleft{
	width: 30%;
}

.footerdistributed h3{
	color:  #fff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

  
.txt{
	text-align: 'justify';
	 margin-left: '31px';
	 line-height: 2.5rem;
}
.footerdistributed .footerleft img{
	width: 60%;
}
.footerdistributed h3 {
    color: #fff;
    font: normal 28px 'Cookie', cursive;
    margin: 0;
}
.footerdistributed h3 span{
	color:  #eb6b9d;
}

.footerdistributed .footerlinks{
	color:  #fff;
	margin: 20px 0 12px;
}

.footerdistributed .footerlinks a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footerdistributed .footercompanyname{
	color:  #fff;
	font-size: 14px;
	font-weight: normal;
}


.footerdistributed .footercenter{
	width: 35%;
}


.footerdistributed .footercenter i{
	color: #fff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footerdistributed .footercenter i.faenvelope{
	font-size: 17px;
	line-height: 38px;
}

.footerdistributed .footercenter p{
	display: inline-block;
	color: #fff;
	vertical-align: middle;
	margin:0;
}

.footerdistributed .footercenter p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footerdistributed .footercenter p a{
	color:  #eb6b9d;
	text-decoration: none;;
}


.footerdistributed .footerright{
	width: 30%;
}

.footerdistributed .footercompanyabout{
	line-height: 20px;
	color:  #fff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footerdistributed .footercompanyabout span{
	display: block;
	color:  #fff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footerdistributed .footericons{
	margin-top: 25px;
}

.footerdistributed .footericons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}



@media (max-width: 880px) {

	.footerdistributed .footerleft,
	.footerdistributed .footercenter,
	.footerdistributed .footerright{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footerdistributed .footercenter i{
		margin-left: 0;
	}
	

}