.mainContact{
    margin-bottom:100px;
    padding: 50px;
    padding-bottom: 20px;
  }
  .imgfluidContact{
    display: block;
    
    margin: auto;
}
@media (max-width: 767px){
    
    .imgfluidContact {
        margin: auto;
        width: 80vw;
    }
}