.main {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 70px;
}

.CardR {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 58vw;
  height: max-content;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.imgfluidR {
  align-self: center;
  width: 25vw;
  height: min-content;
}
.inpt {
  width: 400px;
}
form.Item {
  margin-bottom: 20px;
}
.btn {
  width: 200px;
  background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
  border: none !important;
  border-radius: 20px;
}
.btn:hover {
  color: black !important;
  background-image: linear-gradient(90deg, #ee8c68 0%, #eb6b9d 74%) !important;
  border: none !important;
}
.error {
  color: #ff4d4f;
}
.h2R {
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 28px;
}
@media (max-width: 768px) {
  .CardR {
    width: 90vw;
    padding: 30px;
    border-radius: 20px;
  }
  .imgfluidR {
    display: block;
    width: 80vw;
  }
  .imgfluidR {
    vertical-align: text-top !important ;
  }
  .inpt {
    width: 250px;
  }
}
@media (width: 1024px) {
  .formreg {
    margin-left: 100px;
  }
}
